<%- include("partials/header") %>


<div class="container">
	<h1>
		Add new image
	</h1>
	<form action="/" method="POST">
		<div class="form-group">
			<input type="text" placeholder="Title" name="image[title]">
		</div>
		<div class="form-group">
			<input type="text" placeholder="Description" name="image[desc]">
		</div>
		<div class="form-group">
			<input type="text" placeholder="Image url" name="image[url]">
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-success">
				Submit
			</button>
		</div>
	</form>
</div>






<%- include("partials/footer") %>